@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merienda:wght@400;700&family=Roboto:wght@300;400;500&display=swap');
body{
    margin: 0;
}
header{
    padding: 5px;
    background-color: #ffc7d4;
    margin-bottom: 20px;
    position: fixed;
    width: 99vw;

    h1{
        font-size: 2.5em;
        font-weight: 700;
        margin: 0;
        padding: 0;
        margin-left: 110px;
        font-family: 'Merienda', cursive;
    }
    h2{
        font-size: 2em;
        margin: 0;
        padding: 0;
        margin-left: 110px;
        font-family: 'Merienda', cursive;
    } 
}
p{
    font-family: 'Roboto', sans-serif;
}

h2,h3,h4,h5{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    color: #c23e6a;
}

h2{
    font-size: 2.5em;
    margin-bottom: 50px;
}

h3{
    font-size: 1.7em;
    margin-bottom: 0;
}

h4{
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 20px;
}

h5{
    color: black;
    font-size: 1em;
    margin-bottom: 5px;
    padding-top: 30px;
    margin-top: 0;

}


#portfolio{
    padding-top: 120px;
}

#updateJobContainer, #updateCourseContainer, #updateSchoolContainer, #updateWebsiteContainer{
    position: fixed;
    top: 15vh;
    left: 25vw;
    display: none;
    background-color: #ffc7d4;
    padding: 2vh 10vw 10vh 5vw;
    width: 550px;
    box-shadow: 10px 10px 4px rgb(90, 72, 81);

    fieldset{
        margin: 0 auto;
        padding: 10px 50px;
    }
}

.courseForm{
    width: 20vw;
}

fieldset{
    width: fit-content;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #d8fdf4;
}

form{
    display: flex;
    flex-direction: column;
    width: 50vw;
    max-width: 500px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

input{
    margin-bottom: 15px;
    font-size: 16px;
    width: 25em;
}

textarea{
    margin-bottom: 10px;
    width: 400px;

}

input[type=submit]{
    width: 10em;
    margin: 10px 0;
}

input[type=date]{
    width: 10em;
}

.labelMsg{
    color: #a19699;
    font-weight: 400;
}
#logga{
    width: 80px;
    height: 80px;
    position: fixed;
    top: 7px;
    left: 10px;
}

#wrapper{
    width: 90vw;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin: 0 auto;
}

section{
    width: 50vw;
    margin: 10px 0 80px 0;
    padding-bottom: 20px;
    border-bottom: solid #c23e6a 2px;
}

#portfolioContainer{
    p{
        width: 35vw;
    }
}

article{
    margin: 0px 0 30px 0;
    padding-bottom: 20px;
    border-bottom: solid #c23e6a 1px;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;

    li{
        margin-top: 10px;
        font-size: 1.2em;
    }

    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        color: #c23e6a;
    }
    a:active{
        color: #2cf6c5;
    }
}

aside{
    position: fixed;
    left: 80vw;
    top: 100px;
    background-color: #ffc7d4;
    padding: 0 10px 30px 20px;

    h2{
        font-size: 1.5em;
        margin-bottom: 30px;
        margin-top: 30px;
    }
}

nav{
    width: 10em;
    font-family: 'Bebas Neue', cursive;

    ul{
        margin-bottom: 0;

        li{
            margin-top: 1em;
        }
    }
}

footer{
    background-color: #ffc7d4;  
    margin: 0;
    padding: 20px 50px;
    display: flex;
    align-items: flex-end;
    

    h2{
        margin: 0;
        font-size: 1.5em;
    }
}

#copyText{
    text-align: center;
    width: 70vw;
    color: #6e696b;
    font-size: 0.9em;
}

.foldingText {
    display: none;
    font-size: 16px;
    background-color: #ffebf0;
    width: 40vw;
    padding: 10px 20px;
    box-sizing: border-box;
}

.mypageArrow{
    font-size: 3em;
    color: #c23e6a;
    padding-bottom: 10px;
}

.foldingBtn{
    width: 40vw;
    text-align: left;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border: none;
    background-color: #ffc7d4;
    padding: 10px 20px;
    margin-right: 10px;
    p{
        font-size: 18px;
        font-weight: 500;
    }
}

.infoContainer{
    background-color: #ffc7d4;
    padding: 10px 20px;
    margin-right: 10px;
    width: 40vw;
    text-align: left;
}

.courseClass{
    border-bottom: solid #c23e6a 1px; 
    padding-bottom: 20px;
}

.flexContainer{
    display: flex;
}
.btnDiv{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.button{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    padding: 5px 20px;
    font-weight: 600;
    margin: 10px;
    margin-left: 0;
    min-width: fit-content;
    cursor: pointer;
}

.eraseBtn{
    border: solid #c23e6a 2px; 
    color: #c23e6a;
    background-color: #ffc7d4;

    &:hover{
        border: solid #c23e6a 2px; 
        color: #ffc7d4;
        background-color: #c23e6a;

    }

    &:active{
        border: solid #ffc7d4 2px; 
        color: #ffc7d4;
        background-color: #c23e6a;
    }

}

.editBtn{
    border: solid #035f48 2px; 
    color: #048867;
    background-color: #abfde9;

    &:hover{
        border: solid #048867 2px; 
        color: #abfde9;
        background-color: #048867;

    }

    &:active{
        border: solid #abfde9 2px; 
        color: #abfde9;
        background-color: #035f48;
    }
}

#schoolContainer, #jobContainer{
    margin-top: 0px;

    li{
        margin-bottom: 50px;
    }
}

.closeBtn{
    font-size: 2em;
    color: #c23e6a;
    position: relative;
    top: 180px;
    left: 17em;
    cursor: pointer;
}

#jobExp{
    border-bottom: 0;
}

.courseForm{
    form{
        width: 34vw;

        input[type=text]{
            width: 21em;
        }
    }
}


@media  screen and (max-width: 1000px) {

    #wrapper{
    width: 90vw;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 20px;
    }

    aside{
        left: 74vw;
    }

    header{
        h1{
            width: fit-content;
        }
        h2{
            width: fit-content;
        } 
    }

    section{
        width: 60vw;
    }
    
    #portfolioContainer{
        p{
            width: 60vw;
        }
    }
    
    article{
        width: 60vw;
    }
    
    .foldingBtn{
        width: 50vw;
    }

    .foldingText{
        width: 50vw;
    }

    .courseForm{
        form{
            width: 40vw;

            input[type=text]{
                width: 20em;
            }
        }
    }
    

    #updateJobContainer, #updateCourseContainer, #updateSchoolContainer, #updateWebsiteContainer{
        top: 15vh;
        left: 8vw;
        width: 550px;
        fieldset{
            width: 200px;
            padding: 10px 100px 10px 10px;  
        }
    }

    .closeBtn{
        position: absolute;
        top: 160px;
        left: 62vw;
    }

    .infoContainer{
        width: 60vw;
    }
}

@media  screen and (max-width: 800px) {

    a{
        word-wrap:break-word;
    }

    aside{
        position: static;
        width: 94vw;
        box-sizing: border-box;
        
    }

    #wrapper{
        flex-direction: column;
        align-content: center;
        justify-content: center;
        padding: 0;
        margin: 0;
    }

    header{
        position: static;
        box-sizing: border-box;
        width: 94vw;
        flex-direction: column;

        h1, h2{
            margin: 0;
            text-align: center;
            width: fit-content;
        }
    }

    h1, h2, h3{
        text-align: center;
    }

    .foldingBtn{
        flex-direction: column;
    }

    .foldingText{
        width: 90vw;
    }

    footer{
        flex-direction: column;
        width: 94vw;
        padding: 0;
        align-items: center;
    }

    #logga{
        width: 80px;
        height: 80px;
        position: static;
        top: 7px;
        left: 10px;
    }

    input, textarea{
        width: 80vw;
    }
    
    #portfolio{
        padding-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section{
        margin: 0;
        width: 90vw;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    article{
        width: 90vw;
        padding: 0 10px 0 10px;
        box-sizing: border-box;
    }

    #portfolioContainer p {
        width: 90vw;
    }

    #portfolioContainer{
        article{
            display: flex;
            flex-direction: column;
        }
    }

    fieldset{
        width: 85vw;
        padding: 5px;
    }

    .flexContainer {
        flex-direction: column;
        align-items: center;
    }

    .foldingBtn {
        width: 90vw;
        align-items: flex-start;
    }

    .courseForm form {
        width: 73vw;

        
        input[type=text]{
            width: 60vw;
        }
    }

    .infoContainer {
        width: 80vw;
    }

    #updateJobContainer, #updateCourseContainer, #updateSchoolContainer, #updateWebsiteContainer {
        top: 0;
        left: 0;
        width: 82vw;

        h2{
            font-size: 1.5em;
            margin: 20px 0;
        }

        fieldset{
            margin: 0;
            padding: 50px 5px 5px 5px;
            width: 80vw;
            
            input{
                width: 75vw;
            }

            textarea{
                width: 75vw;
            }
        }
    }

    .closeBtn{
        top: 100px;
        left: 80vw;
    }

    .btnDiv{
        flex-direction: row;
    }

}